@charset "UTF-8";
body {
  background-color: #E5E5E5;
}

.clear {
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Noto Sans", serif;
  font-weight: 700;
}

h3 {
  color: #868585;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 60px;
}

h4 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}

.main-cover {
  padding-bottom: 42px;
  margin-bottom: 150px;
  max-width: 1921px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
}
.main-cover .logo {
  padding-top: 76px;
  margin-bottom: 160px;
}
.main-cover .info {
  margin-bottom: 266px;
}
.main-cover .info p {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 18px;
}
.main-cover .info h1 {
  margin-bottom: 3px;
  font-size: 64px;
  line-height: 87px;
}
.main-cover .info h2 {
  margin-bottom: 109px;
  font-size: 42px;
  line-height: 57px;
}
.main-cover .social {
  margin: 0 auto;
  width: 166px;
  display: flex;
  justify-content: space-between;
}

.services .services-content {
  display: flex;
  justify-content: space-between;
  color: #303030;
  margin-bottom: 150px;
}
.services .services-content .text-services {
  max-width: 510px;
}
.services .services-content .text-services p {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 50px;
}

.rate-buy {
  margin-bottom: 150px;
}
.rate-buy .sliders {
  max-width: 510px;
  float: left;
}
.rate-buy .sliders #content-1 .block-with-image {
  margin-bottom: 100px;
}
.rate-buy .sliders #content-1 .block-with-image .block-left {
  float: left;
}
.rate-buy .sliders #content-1 .block-with-image .block-right {
  margin-left: 275px;
}
.rate-buy .sliders #content-1 .block-with-image .block-right p {
  color: #303030;
  margin-bottom: 75px;
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.rate-buy .sliders #content-1 .block-with-image .block-right a {
  width: 40px;
}
.rate-buy .sliders #content-1 .block-with-image .block-right a:last-child {
  margin-left: 22px;
}
.rate-buy .sliders #content-1 .block-only-content h4 {
  margin-bottom: 5px;
  color: #303030;
}
.rate-buy .sliders #content-1 .block-only-content p {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  line-height: 19px;
}
.rate-buy .sliders #content-1 .block-only-content .right {
  float: left;
  max-width: 235px;
}
.rate-buy .sliders #content-1 .block-only-content .left {
  margin-left: 275px;
}
.rate-buy .sliders #content-1 .block-only-content .top-info {
  margin-bottom: 19px;
}
.rate-buy .description {
  max-width: 600px;
  margin-left: 600px;
}
.rate-buy .description p {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 17px;
}

.sliders > input[type=radio] {
  display: none;
}

.sliders > input[type=radio]:checked + label {
  border-bottom: 1px solid #868585;
}

.sliders > div {
  /* скрыть контент по умолчанию */
  display: none;
  padding: 10px 15px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  display: block;
  padding: 0;
}

.sliders > label {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  margin-left: 40px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 120px;
  padding-bottom: 5px;
}

.sliders > label:first-of-type {
  margin-left: 0;
}

.section-with-bg {
  background-image: url(../images/bg2.jpg);
  margin-bottom: 150px;
}
.section-with-bg p {
  font-family: "Noto Sans", serif;
  margin: 0 auto;
  max-width: 673px;
  font-size: 42px;
  color: #fff;
  font-weight: 400;
  line-height: 57px;
  text-align: center;
  padding: 128px 0 144px;
}

.our-clients {
  margin-bottom: 182px;
}
.our-clients h3 {
  margin-bottom: 60px;
}
.our-clients .content-our-clients {
  display: flex;
}
.our-clients .content-our-clients .descriptions {
  max-width: 600px;
  margin-left: 91px;
}
.our-clients .content-our-clients .descriptions h4 {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #303030;
  margin-bottom: 30px;
}
.our-clients .content-our-clients .descriptions ul {
  list-style-type: none;
}
.our-clients .content-our-clients .descriptions ul li {
  margin-left: 50px;
  margin-bottom: 15px;
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #303030;
}
.our-clients .content-our-clients .descriptions ul li:last-child {
  margin-bottom: 124px;
}
.our-clients .content-our-clients .descriptions p {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #303030;
  margin-left: 50px;
}

.five-steps {
  margin-bottom: 140px;
  display: flex;
}
.five-steps .descriptions {
  max-width: 510px;
  margin-right: 90px;
}
.five-steps .descriptions h3 {
  margin-bottom: 60px;
}
.five-steps .descriptions h4 {
  margin-bottom: 2px;
  color: #303030;
}
.five-steps .descriptions p {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.five-steps .descriptions p.numbering {
  color: #868585;
  margin-bottom: 11px;
}
.five-steps .descriptions p.step {
  color: #303030;
  margin-bottom: 30px;
}
.five-steps .descriptions p.step:last-child {
  margin-bottom: 0;
}

.form-footer {
  background-image: url(../images/bg3.png);
}
.form-footer .content {
  display: flex;
  margin-bottom: 150px;
}
.form-footer .content h3 {
  padding-top: 70px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: #fff;
  margin-bottom: 60px;
}
.form-footer .content p {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.form-footer .content .content-form {
  max-width: 510px;
  margin-right: 91px;
}
.form-footer .content .content-form input {
  width: 510px;
  background: transparent;
  outline: none;
  border: 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 11px;
  color: #fff;
  margin-bottom: 60px;
}
.form-footer .content .content-form input:last-child {
  margin-bottom: 119px;
}
.form-footer .content .content-form input::-moz-placeholder {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 19px;
}
.form-footer .content .content-form input:-ms-input-placeholder {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 19px;
}
.form-footer .content .content-form input::placeholder {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 19px;
}
.form-footer .content .content-form input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-footer .content .content-form input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-footer .content .content-form input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-footer .content .content-form input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-footer .content .content-form input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-footer .content .content-form input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-footer .content .content-form input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-footer .content .content-form input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-footer .content .contacts {
  max-width: 600px;
}
.form-footer .content .contacts p {
  margin-bottom: 30px;
}
.form-footer .content .contacts p:last-child {
  margin-bottom: 0;
}
.form-footer .content .contacts .telephones {
  margin-bottom: 30px;
}
.form-footer .content .contacts .telephones a {
  color: #fff;
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.form-footer .content .contacts .telephones a:hover {
  text-decoration: underline;
}
.form-footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 49px;
}
.form-footer .footer p {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.form-footer .footer .social {
  width: 166px;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */