$gray: #868585;
$white: #fff;
$black: #303030;
$onHover: #a9a32a;
$NotoSans: 'Noto Sans', serif;

@mixin text-18 {
    font-family: $NotoSans;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

@mixin text-14 {
    font-family: $NotoSans;
    font-weight: 400;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

// body {
//     width: 1921px;
//     height: 100%;
// }

h1,
h2,
h3,
h4 {
    font-family: $NotoSans;
    font-weight: bold;
}

// h1 {
//     font-size: 64px;
//     line-height: 87px;
// }

// h2 {
//     font-size: 42px;
// }

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

.main-cover {
    padding-bottom: 42px;
    max-width: 1921px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: $white;

    .logotype {
        padding-top: 76px;
        margin-bottom: 160px;
    }

    .info {
        margin-bottom: 266px;

        p {
            @include text-18;
        }

        h1 {
            margin-bottom: 3px;
            font-size: 64px;
            line-height: 87px;
        }

        h2 {
            margin-bottom: 109px;
            font-size: 42px;
            line-height: 57px;
        }
    }

    .foot {
        margin: 0 auto;
        width: 166px;
        display: flex;
        justify-content: space-between;
    }
}