$gray: #868585;
$white: #fff;
$black: #303030;
$onHover: #a9a32a;
$NotoSans: 'Noto Sans', serif;

@mixin text-18 {
    font-family: $NotoSans;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

@mixin text-14 {
    font-family: $NotoSans;
    font-weight: 400;
    font-size: 14px;
}

.clear {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: $NotoSans;
    font-weight: 700;
}

h3 {
    color: $gray;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 60px;
}

h4 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

.main-cover {
    padding-bottom: 42px;
    margin-bottom: 150px;
    max-width: 1921px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: $white;

    .logotype {
        padding-top: 76px;
        margin-bottom: 160px;
    }

    .info {
        margin-bottom: 266px;

        p {
            @include text-18;
        }

        h1 {
            margin-bottom: 3px;
            font-size: 64px;
            line-height: 87px;
        }

        h2 {
            margin-bottom: 109px;
            font-size: 42px;
            line-height: 57px;
        }
    }

    .foot {
        margin: 0 auto;
        width: 166px;
        display: flex;
        justify-content: space-between;
    }
}

.services {
    .services-content {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        color: $black;
        margin-bottom: 150px;

        .text-services {
            max-width: 510px;

            p {
                @include text-14;
                line-height: 19px;
                margin-bottom: 50px;
            }
        }
    }
}

.rate-buy {
    .sliders {
        max-width: 510px;
        float: left;

        #content-1 {
            .block-with-image {
                margin-bottom: 100px;

                .block-left {
                    float: left;
                }

                .block-right {
                    margin-left: 275px;

                    p {
                        color: $black;
                        margin-bottom: 75px;
                        @include text-14;
                        line-height: 19px;
                    }

                    a {
                        width: 40px;
                    }

                    a:last-child {
                        margin-left: 22px;
                    }

                }
            }

            .block-only-content {
                h4 {
                    margin-bottom: 5px;
                    color: $black;
                }

                p {
                    @include text-14;
                    color: $black;
                    line-height: 19px;
                }

                .right {
                    float: left;
                    max-width: 235px;
                }

                .left {
                    margin-left: 275px;
                }

                .top-info {
                    margin-bottom: 19px;
                }
            }
        }
    }

    .description {
        max-width: 600px;
        margin-left: 600px;

        p {
            @include text-18;
            font-weight: 700;
            line-height: 25px;
            margin-bottom: 17px;
        }
    }
}


.sliders>input[type="radio"] {
    display: none;
}

.sliders>input[type="radio"]:checked+label {
    border-bottom: 1px solid $gray;
}

.sliders>div {
    /* скрыть контент по умолчанию */
    display: none;
    padding: 10px 15px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: block;
    padding: 0;
}

.sliders>label {
    @include text-18;
    line-height: 25px;
    cursor: pointer;
    margin-left: 40px;
    display: inline-block;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 120px;
    padding-bottom: 5px;

}

.sliders>label:first-of-type {
    margin-left: 0;
}